<div id="<%= dom_id food_list %>">
  <p>
    <strong>Food name:</strong>
    <%= food_list.food_name %>
  </p>

  <p>
    <strong>Food amount:</strong>
    <%= food_list.food_amount %>
  </p>

  <p>
    <strong>Donate date:</strong>
    <%= food_list.donate_date %>
  </p>

  <p>
    <strong>Collected from:</strong>
    <%= food_list.collected_from %>
  </p>

  <p>
    <strong>Donar name:</strong>
    <%= food_list.donar_name %>
  </p>

</div>
