<div id="<%= dom_id food_list %>" class="mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= food_list.food_name %></h5>
    <p class="card-text"><strong>Food Amount:</strong> <%= food_list.food_amount %> KG</p>
    <p class="card-text"><strong>Donate Date:</strong> <%= food_list.donate_date %></p>
    <p class="card-text"><strong>Collected From:</strong> <%= food_list.collected_from %></p>
    <p class="card-text"><strong>Donor Name:</strong> <%= food_list.donar_name %></p>
  </div>
</div>
