<%= form_with(model: food_list, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if food_list.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(food_list.errors.count, "error") %> prohibited this food list from being saved:</h2>
      <ul>
        <% food_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :food_name %>
    <%= form.text_field :food_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :food_amount %>
    <%= form.number_field :food_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :donate_date %>
    <%= form.date_field :donate_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :collected_from %>
    <%= form.text_field :collected_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :donar_name %>
    <%= form.text_field :donar_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save Food List", class: "btn btn-primary" %>
  </div>
<% end %>
